.App {
  position: fixed;
  height: 100vh;
  width: 100vw;
  box-sizing: border-box;
}

.App-main-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}

.file-drop {
  height: 100%;
  width: 100%;
}

.file-drop-target {
  height: 100%;
  width: 100%;
}

.file-drop-dragging-over-frame .main-empty {
  border: 2px dashed #81e7ff;
}

.main-empty {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  box-sizing: border-box;
  border-radius: 8px;
  border: 2px dashed #eeeeee;
  position: absolute;
  bottom: 30px;
  left: 30px;
  right: 30px;
  top: 102px;
}

.main-empty h2 {
  font-size: 20px;
  font-weight: 400;
  margin: 5px 0;
}

.main-empty p {
  color: #CCC;
  margin: 0;
  font-size: 14px;
}

.main-empty a,
.main-empty a:visited {
  text-decoration: underline;
  color: inherit;
}

.main-empty a:hover {
  color: #333333;
}

.files-images {
  margin-bottom: 15px;
}

.files-icon {
  position: relative;
  transition: all 0.3s;
  width: 55px;
  user-select: none;
  -webkit-user-drag: none;
}

.files-icon-first {
  transform: rotate(-20deg) translateY(10px);
  z-index: 1;
}

.file-drop-dragging-over-frame .files-icon-first {
  transform: rotate(-20deg) translateY(-5px);
}

.files-icon-center {
  z-index: 2;
}

.file-drop-dragging-over-frame .files-icon-center {
  transform: translateY(-15px);
}

.files-icon-last {
  transform: rotate(20deg) translateY(10px);
  z-index: 1;
}

.file-drop-dragging-over-frame .files-icon-last {
  transform: rotate(20deg) translateY(-5px);
}

.main-files {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  padding: 0 30px;
  overflow: auto;
  border-top: 2px solid #eeeeee;
  box-shadow: inset 0px -50px 40px -30px rgba(255, 255, 255, 1);
  padding-top: 72px;
}

.file-list {
  padding: 0;
  margin: 0;
  list-style: none;
  padding-bottom: 5px;
}

.file-list-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  margin: 15px 0;
  z-index: -1;
  padding-bottom: 15px;
  border-bottom: 1px solid #f8f8f8;
}

.file-list-item-info {
  padding: 0 30px 0 15px;
  overflow: hidden;
}

.file-list-item-info p {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.file-status {
  position: absolute;
  right: 0;
  height: 100%;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.status-icon {
  height: 18px;
  user-select: none;
}

.file-list .file-icon {
  width: 38px;
  user-select: none;
  -webkit-user-drag: none;
}

.file-title {
  font-size: 15px;
  margin: 5px 0;
  font-weight: 500;
}

.file-subtitle {
  font-size: 13px;
  margin: 5px 0;
  color: #CCC;
}
