body {
  margin: 0;
  padding: 0;
  font-family: "SF Pro Display", "SF Pro Icons", -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  color: #333333;
  font-weight: 500;
  letter-spacing: .009em;
  background: #FFFFFF;
}

a {
  cursor: pointer;
}

::selection {
  background: #333333;
  color: #FFFFFF;
}

.btn {
  display: inline-block;
  padding: 4px 12px;
  background: #4BD763;
  border-radius: 14px;
  color: #fff;
  cursor: pointer;
  user-select: none;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 700;
}

.btn-success {
  background: #4BD763;
}
.btn-success:hover {
  background: rgb(64, 184, 84);
}
.btn-success:active {
  background: rgb(54, 155, 71);
}

.btn-danger {
  background: rgb(209, 23, 45);
}
.btn-danger:hover {
  background: rgb(199, 18, 39);
}
.btn-danger:active {
  background: rgb(184, 15, 34);
}