.settings {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 20;
  padding: 30px 30px 0 30px;
  background: rgba(255, 255, 255, .5);
  backdrop-filter: blur(10px);
  overflow: auto;
  box-shadow: inset 0px 50px 40px -30px rgba(255, 255, 255, 1);
  -webkit-app-region: no-drag;
}

.drag-zone {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 20px;
  background: rgba(255, 255, 255, .7);
  backdrop-filter: blur(6px);
  z-index: 20;
  -webkit-app-region: drag;
}

.settings-title {
  font-size: 20px;
  font-weight: 800;
  margin: 20px 0 0 0;
}

.settings-item {
  padding: 10px 0;
  border-bottom: 2px solid #e6e6e6;
  font-weight: 500;
}

.settings-item-title {
  margin-top: 0;
  margin-bottom: 10px;
}

.form-switch {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

.form-switch i {
  position: relative;
  display: inline-block;
  margin-right: .5rem;
  width: 46px;
  height: 26px;
  background-color: #e6e6e6;
  border-radius: 23px;
  vertical-align: text-bottom;
  transition: all 0.3s linear;
}

.form-switch i::before {
  content: "";
  position: absolute;
  left: 0;
  width: 42px;
  height: 22px;
  border-radius: 11px;
  transform: translate3d(2px, 2px, 0) scale3d(1, 1, 1);
  transition: all 0.25s linear;
}

.form-switch i::after {
  content: "";
  position: absolute;
  left: 0;
  width: 22px;
  height: 22px;
  background-color: #fff;
  border-radius: 11px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.24);
  transform: translate3d(2px, 2px, 0);
  transition: all 0.2s ease-in-out;
}

.form-switch:active i::after {
  width: 28px;
  transform: translate3d(2px, 2px, 0);
}

.form-switch:active input:checked+i::after {
  transform: translate3d(16px, 2px, 0);
}

.form-switch input {
  display: none;
}

.form-switch input:checked+i {
  background-color: #4BD763;
}

.form-switch input:checked+i::before {
  transform: translate3d(18px, 2px, 0) scale3d(0, 0, 0);
}

.form-switch input:checked+i::after {
  transform: translate3d(22px, 2px, 0);
}

.radio-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
}

.radio {
  position: relative;
  padding-right: 20px;
  display: flex;
  align-items: center;
}

.radio input[type="radio"] {
  display: none;
}

.radio-style {
  position: relative;
  display: inline-block;
  width: 1.4em;
  height: 1.4em;
  vertical-align: middle;
  cursor: pointer;
  margin-right: 5px;
}

.radio-style::before {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  width: 22px;
  height: 22px;
  content: '';
  border: 2px solid #e8e8e8;
  border-radius: 50%;
  box-sizing: border-box;
}

.radio-style:hover::before {
  border-color: #4BD763;
}

.radio-style::after {
  height: 22px;
  width: 22px;
  border: 4px solid #fff;
  display: block;
  border-radius: 50%;
  display: none;
  content: '';
  background: #4BD763;
  box-sizing: border-box;
}

.radio input[type="radio"]:checked+.radio-style::before {
  border-color: #4BD763;
}

.radio input[type="radio"]:checked+.radio-style::after {
  display: block;
  background: #4BD763;
}

.slider {
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  width: 100px;
  background: #4BD763;
  outline: none;
  height: 4px;
  border-radius: 10px;
  margin: 9px 9px 9px 5px;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  background-color: #fff;
  border-radius: 100%;
  cursor: move;
  height: 22px;
  width: 22px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
}

.form-slider {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.form-slider label {
  display: flex;
  align-items: center; 
}

.controls {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 30px 0;
}

.controls .btn { 
  margin: 0 5px;
}